// headers e p
@font-face {
  font-family: "Spartan";
  src: url(../Font/Spartan-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Spartan";
  src: url(../Font/Spartan-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Spartan";
  src: url(../Font/Spartan-Bold.ttf);
  font-weight: 700;
}
body {
  font-size: $default-font-size;
  font-family: "Spartan", sans-serif;
  @include resposive {
    font-size: $responsive-font-size;
  }
}
